* { padding: 0; margin: 0; }
html, body, #fullheight {
  min-height: 100% !important;
  height: 100%;
}

body {
	font-family: "Lato";
	word-wrap: break-word;
	word-break:break-all;
  background: color(background-app);
}

a {
	cursor: pointer;
	color: color(primary);

	&:hover {
    color: color(primary-light);
		text-decoration: underline;
  }
}

.error-message {
  padding: .5em;
  color: color(danger);
}
